<div class="block">
  <h1>USD</h1>
  <h6>Scenario 1 - Raise me to the power of 4</h6>
  <span>10</span>
  <h6>Scenario 2 - Shorthand me</h6>
  <span>43,893,843</span>
  <h6>Scenario 3 - Raise me to the power of 6 then shorthand</h6>
  <span>13</span>
</div>

<div class="block">
  <h1>Euro</h1>
  <h6>One Million USD in Euros is:</h6>
  <span>1,000,000</span>

  <h6>573,983 USD in Euros is:</h6>
  <span>573,983</span>

  <h6>5,773,983 USD in Euros is then shorthand</h6>
  <span>5,773,983</span>
</div>
