p {
  font-family: Lato;
}

.text-group {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;

  textarea {
    height: 4rem;
  }

  button {
    height: 2rem;
    margin-left: 0.75rem;
  }
}
